

    {{ form_start(form) }}
    <div>
    {{ form_row(form.nom) }}
    </div>
    <div>
    {{ form_row(form.campus) }}
    </div>
    <div>
    {{ form_row(form.dateHeureDebut) }}
    {{ form_row(form.dateFin) }}
    </div>
    <div>
    {{ form_row(form.organisateur) }}
    </div>
    <div>
    {{ form_row(form.inscrit) }}
    </div>
    {{ form_row(form.nonInscrit) }}
    <div>
    {{ form_row(form.sortiePassee) }}
    </div>

    {{ form_end(form) }}

