{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} | Accueil {% endblock %}

{% block main %} {{ parent() }}

    {# affichage des messages addFlash #}
    {% for message in app.flashes('success') %}
        <div class="container flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <h6 class="text-right"> Bienvenue {{ app.user.username }}, <br> {{ date('now')|date('d/m/Y') }}</h6>

    {# formulaire de recherche filtrée pour les sorties #}
    {% include ('sortie/AfficherSorties.html.twig') with {form: formSortie} only %}
<br>
   {# affichage tableau liste sorties filtrées #}
    <table class="table table-striped table-hover table-responsive ">
    <thead class="thead-light">
    <tr>
        <th scope="col">Nom de la sortie</th>
        <th scope="col">Date de la sortie</th>
        <th scope="col">Clôture</th>
        <th scope="col">Inscrits/Places</th>
        <th scope="col">Etat</th>
        <th scope="col">Inscrit</th>
        <th scope="col">Organisateur</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>

    {% if sorties is defined and sorties is not empty %}
    {% for sortie in sorties %}

    {% set dateLimiteInscription = sortie.dateLimiteInscription|date('m/d/Y') %}

    {% if sortie.etatSortie %}
    {% if sortie.etatSortie != 'Archivee' %}

    <tr class="text-center">
        <td>{{ sortie.nom }}</td>
        <td>{{ sortie.dateHeureDebut|date('d/m/Y à H:i') }}</td>
        <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
        <td>{{ sortie.participants|length }}/{{ sortie.nbInscriptionsMax }}</td>

        {# affiche état sortie, si non renseigné en base affiche non renseigné #}
        {% if sortie.etatSortie.id == '1' %}
        <td>Créée</td>
        {% elseif sortie.etatSortie.id == '2' %}
        <td class="text-success">Ouverte</td>
        {% elseif sortie.etatSortie.id == '3' %}
        <td class="text-warning">Cloturée</td>
        {% elseif sortie.etatSortie.id == 'En 4' %}
        <td>En cours</td>
        {% elseif sortie.etatSortie.id == '5' %}
        <td class="text-danger">Passée</td>
        {% elseif sortie.etatSortie.id == '6' %}
        <td class="text-danger">Annulée</td>
        {% else %}
        <td>Non renseigné - erreur</td>
        {% endif %}


        {# si user inscrit #}
        {% set inscrit = false %}
        {% for inscription in app.user.inscriptionsSorties %}
            {% for inscriptions in sortie.participants %}
                {% if inscription == inscriptions %}
                    {% set inscrit = true %}
                {% endif %}
            {% endfor %}
        {% endfor%}
        {% if inscrit %}
            <td class="text-success">Oui</td>
        {% else %}
            <td class="text-warning">Non</td>
        {% endif %}

        {# lien vers affichage profil du participant organisateur #}
        {% if sortie.participantOrganisateur %}
            {% if sortie.participantOrganisateur.username != app.user.username %}
            <td>
                <a href="#">{{ sortie.participantOrganisateur.username }}</a>
            </td>
            {% else %}
            <td>{{ app.user.username }}</td>
            {% endif%}
        {% else %}
            <td>Non renseigné</td>
        {% endif%}

        {# lien vers affichage détail sortie #}
        {# todo: à finir #}
        <td>
            {% if sortie.participantOrganisateur %}
            {% if sortie.participantOrganisateur.username == app.user.username %}
            <a href="{{ path('sortie_modifier', {'id': sortie.id}) }}">Modifier</a>
            {% elseif sortie.participantOrganisateur.username or sortie.participantOrganisateur is empty %}
            <a href="{{ path('sorties_detail', {'id': sortie.id}) }}">Afficher</a>
            {% endif %}
            {% endif %}
            -
            {% if inscrit == false %}
            <a name="inscrire" href="">S'inscrire</a>
            {% else %}
            <a name="desister" href="">Se désister</a>
            {% endif %}
        </td>
    </tr>

    {% endif %}
    {% endif %}
    {% endfor %}

    {%  else %}
    <tr>
        <th>Aucune sortie trouvée</th>
    </tr>
    {% endif %}
    </tbody>
    </table>

    <div>

    </div>


    <div class="row text-center">
        <div class="col">
            <a href="{{ path('sortie_creer') }}" class="btn btn-secondary btn-lg" class="creer_sortie">Créer une sortie</a>
        </div>
    </div>

{% endblock %}