<!doctype html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %} Sortir {% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bootstrap-4.5.2/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('bootstrap-4.5.2/css/bootstrap-grid.css') }}">
            <link rel="stylesheet" href="{{ asset('bootstrap-4.5.2/css/bootstrap-reboot.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>

    <body>

    <header>
        {% include('inc/nav.html.twig') %}
    </header>

        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}

    <main>
        {% block main %}

        {% endblock %}
    </main>

    <footer>
        {% include('inc/footer.html.twig') %}
    </footer>

    <script src="{{ asset('bootstrap-4.5.2/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bootstrap-4.5.2/js/bootstrap.bundle.js') }}"></script>

    </body>
</html>
